/**
 * ボタンのオプショション等
 */

// ボタンのデザイン
.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 3px;
  line-height: 1.42857143;
  margin-bottom: 0;
  padding: 6px 12px;
  background-image: none;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}

// hoverした時のmixin
@mixin hoverColor($hoverColor) {
  background:$hoverColor;
  text-decoration:none;
}

// ボタンの色のmixin
@mixin btnColor($buttonTextColor, $buttonColor, $buttonBorderColor) {
  border-color: $buttonBorderColor;
  background-color: $buttonColor;
  color: $buttonTextColor;
}

.submitBtn {
  @include btnColor(#fff, #58cfbd, #58cfbd);

  &:hover {
    @include hoverColor(#58cfbd);
  }

  &:disabled {
    @include btnColor(#cacaca, #999999, #999999);
  }
}

.canselBtn {
  @include btnColor(#000000, #ffffff, #000000);

  &:hover {
    @include hoverColor(#ffffff);
  }
}
