/*==========  comment  ==========*/

@import "button";

.comment__form {
  display: block;
  padding: 20px 20px 15px;
  background: #fff;
}

.comment__form--count {
  margin: 0;
  font-size: 11px;
}

.comment__form--text {
  color: #34495e;
  font-size: 15px;
  height: 35px;
  width: 100%;
  border-radius: 6px;
  box-shadow: none;
  background: #fff;
}

.comment__form--input_btn {
  @include m__btn--color(#fff, #58cfbd, #58cfbd);

  &:hover {
    @include m__btn--color(#fff, #58cfbd, #58cfbd);
  }

  &:disabled {
    @include m__btn--color(#cacaca, #999, #999);
  }
}

.comment__form--cansel_btn {
  @include m__btn--color(#000, #fff, #000);

  &:hover {
    @include m__btn--color(#000, #fff, #000);
  }
}


.comment__item_list {
  background-color: #fff;
  margin: 15px 0;
  padding: 0;
}

.comment__item_block {
  list-style-type: none;
}

.comment__item_block--inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  padding: 15px 0;
  margin: 0 20px;
  border-bottom: dotted 1px #000066;
}

.comment__item--icon {
  width: 15%;
  text-align: center;
  & img {
    border-radius: 50%;
    padding: 0 10px;
    width: 30px;
  }
}

.comment__item_block--child {
  padding: 0 5px;
  word-break: break-all;
  font-size: 11px;
  width: 85%;
  line-height: 1.36;

  .comment__item--name {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
  }

  .comment__item--time {
    margin-top: 5px;
    float: left;
  }

  .comment__item--delete {
    display: inline-block;
    float: right;
    font-size: 15px;
    color: #999999;
  }
}
