/**
 * Form関連設定CSS 
 */

.comment__form {
  display: block;
  padding: 4px 12px 12px;
  background: #ffffff;
}

.comment__text--count {
  margin: 0;
  font-size: small;
}

.comment__text {
  color: #34495e;
  font-size: 15px;
  height: 35px;
  width: 100%;
  border-radius: 6px;
  box-shadow: none;
  background: #ffffff;
}

.comment__item_block {
  word-wrap: break-word;
  padding: 10px 30px;
}

.comment__list {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.comment__list_child {
  list-style-type: none;
}

.comment__item--icon > img {
  border-radius: 50%;
  float: left;
}
