<!DOCTYPE html>
<html lang="ja" ng-app="comment">
<head>
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>Angular</title>
<!-- bower:css -->
<link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
<!-- endbower -->
<link rel="stylesheet" href="styles/main.css">
</head>
<body>

<div ng-controller="commentController">
  <form novalidate name="commentForm">
    <div class="comment__form">
      <p class="comment__form--count m__text--right" ng-bind-template="{{comment.length || 0}}/100文字まで"></p>
      <textarea class="comment__form--text" name="comment" ng-model="comment" required ng-maxlength="100" maxlength="100"></textarea>
      <p class="m__margin--0 m__text--right">
        <button class="comment__form--cansel_btn" ng-click="reset()">キャンセル</button>
        <button class="comment__form--input_btn" ng-click="add()" ng-disabled="commentForm.$invalid">投稿する</button>
      </p>
    </div>

    <ul class="comment__item_list" ng-hide="parseCommentList.length === 0" ng-cloak>
      <li class="comment__item_block" ng-repeat="comment in parseCommentList | orderBy:'createdAt':true ">
        <div class="comment__item_block--inner">
          <div class="comment__item--icon"><img src="./images/profile.png" alt="profile picture"></div>
          <div class="comment__item_block--child">
            <h4 class="comment__item--name" ng-bind="comment.userName"></h4>
            <p class="comment__item--text" ng-bind="comment.comment"></p>
            <p class="comment__item--time" ng-bind="comment.createdAt | date:'MM月dd日 HH:mm'"></p>
            <a href="javascript:;" class="comment__item--delete" ng-click="delete(comment)"><i class="fa fa-trash-o"></i></a>
          </div>
        </div>
      </li>
    </ul>

  </form>
</div>



<!-- bower:js -->
<script src="../../bower_components/jquery/jquery.js"></script>
<script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
<script src="../../bower_components/angular/angular.js"></script>
<!-- endbower -->
<script src="scripts/main.js"></script>
</body>
</html>
