<!DOCTYPE html>
<html lang="ja" ng-app="flickr">
<head>
<meta charset="utf-8">
<meta name="viewport"
  content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<title>Flicker Angular</title>
<!-- bower:css -->
<!-- endbower -->
<link rel="stylesheet" href="styles/main.css">
</head>
<body>
<div ng-controller="mainCtrl">

  <form ng-submit="search()" name="form" id="search-area">
    <input type="text" class="search-box js-search" ng-model="query" required>
    <input type="submit" class="btn btn-default" value="検索" ng-disabled="from.$invalid">
  </form>

  <!-- photos -->
  <div ng-show="photoList.length" class="photo-area" scroller>
    <div ng-repeat="photo in photoList track by $index" class="inline-block mg5">
      <img ng-click="showModal()" ng-src="{{photo.photoUrl}}" width="150" height="150">
      <p>
        <button ng-click="likeButton()" class="btn btn-primary" ng-bind="photo.noLiked ? 'いいね！' : 'いいね解除'"></button>
      </p>
    </div>
  </div>

  <!-- modal -->
  <div class="modal" ng-show="show">
    <div class="modal-overlay" ng-click="hideModal()"></div>
    <div class="modal-dialog">
      <div class="modal-close" ng-click="hideModal()">✕</div>
      <div class="modal-dialog-content">
        <img ng-src="{{largePhotoUrl}}" width="100%">
      </div>
    </div>
  </div>

<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/modernizr/modernizr.js"></script>
<!-- endbower -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="scripts/main.js"></script>
</body>
</html>
